################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluidDynamicsSimulationPrototype/Release
/FluidDynamicsSimulationPrototype/Debug
/FluidDynamicsSimulationPrototype/.vs/FluidDynamicsSimulationPrototype/v15
/FluidDynamicsSimulationPrototype/FluidDynamicsSimulationPrototype/Debug
/FluidDynamicsSimulationPrototype/FluidDynamicsSimulationPrototype/Release
/FluidDynamicsSimulationPrototype/freeglut.dll
/FluidDynamicsSimulationPrototype/freeglut.lib
/FluidDynamicsSimulationPrototype/glew32.dll
/FluidDynamicsSimulationPrototype/glew32.lib
/FluidDynamicsSimulationPrototype/glew32s.lib
/FluidDynamicsSimulationPrototype/FluidDynamicsSimulationPrototype/x64
/FluidDynamicsSimulationPrototype/x64/Debug
